.tableForm-container {
    display: flex;
    flex-direction: column;
}

.tableForm-container > * {
    margin-left: 0px;   
}

.tableForm-container form {
    margin-bottom: 20px;
    margin-left: 0px;
}

.tableForm-container form > * {
    margin: 5px 0;
    margin-right: 0px;
}

.tableForm-container .mat-radio-button {
    margin: 0 5px;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}