<table border="1">
  <tr>
    <td>{{table.Id == 1 ? table?.Hosts[0]?.NickName: table?.Guests[0]?.NickName}}</td>
    <td>{{table?.Guests[1]?.NickName}}</td>
    <td>{{table?.Guests[2]?.NickName}}</td>
  </tr>
  <tr>
    <td>{{table?.Guests[3]?.NickName}}</td>
    <td>{{'Mesa ' + table?.Id}}</td>
    <td>{{table?.Guests[4]?.NickName}}</td>
  </tr>
  <tr>
    <td>{{table?.Guests[5]?.NickName}}</td>
    <td>{{table?.Guests[6]?.NickName}}</td>
    <td>{{table?.Guests[7]?.NickName}}</td>
  </tr>
</table>