<table border="0">
  <tr>
    <td></td>
    <td colspan="3" align="center"><app-host></app-host></td>
    <td></td>
  </tr>
  <tr>
    <td style="vertical-align: top;" nowrap><app-table tablename="2"></app-table></td>
    <td></td>
    <td rowspan="2" nowrap>PISTA BAILE</td>
    <td></td>
    <td style="vertical-align: top;" nowrap><app-table tablename="3"></app-table></td>
  </tr>
  <tr>
    <td></td>
    <td style="vertical-align: top;" nowrap><app-table tablename="4"></app-table></td>  
    <td style="vertical-align: top;" nowrap><app-table tablename="5"></app-table></td>
    <td></td>
  </tr>
  <tr>
    <td nowrap><app-table tablename="6"></app-table></td>
    <td></td>
    <td rowspan="2">PISTA BAILE</td>
    <td></td>
    <td nowrap><app-table tablename="7"></app-table></td>
  </tr>
  <tr>
    <td></td>
    <td nowrap><app-table tablename="8"></app-table></td>  
    <td nowrap><app-table tablename="9"></app-table></td>
    <td></td>
  </tr>  
  <tr>
    <td nowrap><app-table tablename="10"></app-table></td>
    <td></td>
    <td rowspan="2">PISTA BAILE</td>
    <td></td>
    <td nowrap><app-table tablename="11"></app-table></td>
  </tr>
  <tr>
    <td></td>
    <td nowrap><app-table tablename="12"></app-table></td>  
    <td nowrap><app-table tablename="13"></app-table></td>
    <td></td>
  </tr>    
</table>
<!--
<mat-grid-list cols="5">

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-host></app-host>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

    <app-table tablename="2"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="3"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="4"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="5"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

    <app-table tablename="6"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="7"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="8"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="9"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

    <app-table tablename="10"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="11"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="12"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

    <app-table tablename="13"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>
-->