

<mat-grid-list cols="5" rowHeight="2:1">

  <mat-grid-tile>a</mat-grid-tile>

  <mat-grid-tile>b</mat-grid-tile>

  <mat-grid-tile>

    <app-table id="0"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>d</mat-grid-tile>

  <mat-grid-tile>e</mat-grid-tile>



  <mat-grid-tile>

      <app-table name="1"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>b</mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>d</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="2"></app-table>

  </mat-grid-tile>



  <mat-grid-tile>a</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="3"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table name="4"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>e</mat-grid-tile>



  <mat-grid-tile>

      <app-table name="5"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>b</mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>d</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="6"></app-table>

  </mat-grid-tile>



  <mat-grid-tile>a</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="7"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table name="8"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>e</mat-grid-tile>



  <mat-grid-tile>

      <app-table name="9"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>b</mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>d</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="10"></app-table>

  </mat-grid-tile>



  <mat-grid-tile>a</mat-grid-tile>

  <mat-grid-tile>

      <app-table name="11"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table name="12"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>e</mat-grid-tile>

</mat-grid-list>