

<mat-grid-list cols="5" rowHeight="2:1">

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    <app-host></app-host>    

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

      <app-table #table_1 tablename="2"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="3"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="4"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="5"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

      <app-table tablename="6"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="7"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="8"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="9"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>



  <mat-grid-tile>

      <app-table tablename="10"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="11"></app-table>

  </mat-grid-tile>



  <mat-grid-tile></mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="12"></app-table>

  </mat-grid-tile>

  <mat-grid-tile>

    PISTA BAILE

  </mat-grid-tile>

  <mat-grid-tile>

      <app-table tablename="13"></app-table>

  </mat-grid-tile>

  <mat-grid-tile></mat-grid-tile>

</mat-grid-list>