Mesas
<mat-grid-list cols="5" rowHeight="2:1">
  <mat-grid-tile>a</mat-grid-tile>
  <mat-grid-tile>b</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>{{host.FirstName}} {{host.LastName}}</td>
        <td>3</td>
        <td>4</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>d</mat-grid-tile>
  <mat-grid-tile>e</mat-grid-tile>

  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>{{'Mesa ' + guests[0].Table}}</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>b</mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>d</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>

  <mat-grid-tile>a</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>e</mat-grid-tile>

  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>b</mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>d</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>

  <mat-grid-tile>a</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>e</mat-grid-tile>

  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>b</mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>d</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>

  <mat-grid-tile>a</mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 1</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>
    PISTA BAILE
  </mat-grid-tile>
  <mat-grid-tile>
    <table border="1">
      <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>4</td>
        <td>mesa 2</td>
        <td>5</td>
      </tr>
      <tr>
        <td>6</td>
        <td>7</td>
        <td>8</td>
      </tr>
    </table>
  </mat-grid-tile>
  <mat-grid-tile>e</mat-grid-tile>


</mat-grid-list>

