<div class="foodForm-container">
  <h1>Menu</h1>
  <table> 
  <tr>
    <td>
      <ul>
        <li>Recepcion:</li>
        <ul><li>Variedad de islas</li></ul>
        <li>Plato Principal:</li>
        <ul><li>Pollo al verdeo con papas rusticas</li>
          <li>Milanesa Napolitana de ternera con papas fritas</li>
        </ul>
        <li>Postre</li>
        <ul><li>Brownie con helado y decoracion de chocolate</li></ul>
        <li>Mesa Dulce</li>
        <ul><li>Variedad de tortas</li></ul>
        <li>Brindis</li>
        <li>Fin de Fiesta</li>
        <ul><li>Pizza con gaseosa</li></ul>
      </ul>
    </td>
  </tr>
  </table>
</div>