<div class="guestForm-container">
<h2>Invitado</h2>
  <form class="guestForm-container" [formGroup]="guestForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label>Nombre:</mat-label>
        <input matInput formControlName="FirstName">
    </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Apellido:</mat-label>
        <input matInput formControlName="LastName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Celular</mat-label>
        <input matInput type="tel" formControlName="Tel" placeholder="11-5555-4444">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Instagram</mat-label>
        <input matInput formControlName="Instagram" placeholder="@jaz_provinzano">
      </mat-form-field>
    </div>
    <mat-slide-toggle #toggle [checked]="checked" formControlName="RSVP">
      {{ !toggle.checked ? 'NO puedo' : 'SI, voy a la fiesta!' }}
      <mat-icon matSuffix>{{ !toggle.checked ? 'sentiment_very_dissatisfied' : 'sentiment_very_satisfied' }} </mat-icon>
    </mat-slide-toggle>
    
    <div>
      QR: <img id="image" [src]="imageToShow || ''" style="width: 20%; height: 20%;">
    </div>
    
    <input hidden matInput formControlName="Id">
    <input hidden matInput formControlName="UID">
    <input hidden matInput formControlName="TableId">
    <br/>
    <button mat-raised-button color="primary" type="submit">Guardar</button>
  </form>
</div>
