


<mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            
        </mat-panel-title>
        <mat-panel-description>
          Mesa Principal
        </mat-panel-description>
      </mat-expansion-panel-header>           
      <mat-chip color="accent"><strong>{{hosts[0]?.FirstName}}</strong></mat-chip>
      <mat-chip-list>
        <mat-chip color="primary"><small>{{hosts[3]?.FirstName}}</small></mat-chip>
        <mat-chip color="primary"><small>{{hosts[1]?.FirstName}}</small></mat-chip>
        <mat-chip color="primary"><small>{{hosts[2]?.FirstName}}</small></mat-chip>
        <mat-chip color="primary"><small>{{hosts[4]?.FirstName}}</small></mat-chip>
      </mat-chip-list>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"> 
    </mat-expansion-panel>    
  </mat-accordion>
