<header>
  <mat-toolbar routerLink="/">

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon><span>Home</span>
      </button>
      <button mat-menu-item routerLink="/lounge">
        <mat-icon>text_fields</mat-icon><span>Lounge</span>
      </button>
      <button mat-menu-item routerLink="/about">
        <mat-icon>place</mat-icon><span>About</span>
      </button>
      <button mat-menu-item routerLink="/host">
        <mat-icon>dialpad</mat-icon><span>Contact Jaz</span>
      </button>
      <button mat-menu-item routerLink="/guest/1">
        <mat-icon>guest</mat-icon><span>Guest</span>
      </button>
    </mat-menu>
    <mat-icon class="example-icon">favorite</mat-icon>{{appTitle?.NickName}}
  </mat-toolbar>
  
</header>
