.about-container {
    display: flex;
    flex-direction: row;
}

.about-container > * {
    width: 100%;
}

.about-container form {
    margin-bottom: 20px;
}

.about-container form > * {
    margin: 5px 0;
}

.about-container .mat-radio-button {
    margin: 0 5px;
}

.mat-radio-button ~ .mat-radio-button {
    padding-right: 16px;
}